@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<br />
<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 bg-success text-center text-white"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="https://avatars.githubusercontent.com/u/13735095?v=4"
                                 alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                            <h5 class="text-primary"><strong>Natalia Souza</strong></h5>
                            <p>Backend Engineer</p>
                            <i class="far fa-edit mb-5"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Dados</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-10 mb-2">
                                        <h6>E-mail</h6>
                                        <p class="text-muted">nataliasouza.ti@hotmail.com</p>
                                    </div>                                    
                                </div>
                                <h6>Projetos</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Web API .Net Core 6 </h6>
                                        <a class="btn btn-primary" target="_blank" href="https://github.com/nataliasouza/webApi-net06">Clique Aqui</a>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Asp .Net 5 Core MVC </h6>
                                        <a class="btn btn-primary" target="_blank" href="https://github.com/nataliasouza/mysales">Clique Aqui</a>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>