@{
    ViewData["Title"] = "Termos de uso";
}
<h2>@ViewData["Title"]</h2>

<br />
<h3>Contribua com o projeto!</h3>
<div>
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h3 class="alert-heading text-primary">Atenção!</h3>
        <h4 class="mb-0">
            <strong>Faça o Fork deste projeto</strong> e inclua suas edições!             
        </h4>
        <div>
            <hr />
            <h6 class="text-primary"><strong>REQUIRED </strong></h6>
            <span class="badge badge-pill badge-primary">C#</span>
            <span class="badge badge-pill badge-primary">.Net</span>
            <span class="badge badge-pill badge-primary">EF Core</span>
            <span class="badge badge-pill badge-primary">SQL Server</span>
        </div>
    </div>    
</div>

<div class="text-primary">
    <h5><strong>Link do repositório (Github)</strong></h5>
</div>
<div>
    <a class="btn btn-primary" target="_blank" href="https://github.com/nataliasouza/mysales">Clique aqui</a>
    <a class="btn btn-dark" asp-action="Index">Voltar</a>
</div>
